body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  background: #031000;
}

canvas {
  width: 835px;
  height: 835px;
  background-color: #8bf97b;
}
